# -*- coding: utf-8 -*-

import os

class Config:
    DEBUG = True
    PWD = os.path.abspath(os.curdir)
    SECRET_KEY = 'SUPER SECRET'
    #UPLOAD_FOLDER = '~/herramientas/envio_emails/app/public'
    #Conexion DB
    DBMySQL_HOST = 
    DBMySQL_USER = 
    DBMySQL_PASS = 
    DBMySQL_NAME = 
    DBMySQL_PORT = 3306
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    SQLALCHEMY_ECHO = True
    SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://'+DBMySQL_USER+':'+DBMySQL_PASS+'@'+DBMySQL_HOST+'/'+DBMySQL_NAME+'?charset=utf8&use_unicode=0'
    